/*版心*/
.w{
    box-sizing: border-box;
    width: 1200px;
    margin: auto;
    background-color: white;
}
.shortcut{

    background-color: #f1f1f1;
    height: 30px;

}
.shortcut .w {
    height: 100%;
}
.shortcut div.w ul.left{
    float: left;
}
.shortcut div.w ul.left li{
    float: left;
    font-size: 12px;
    color: #666666;
    line-height: 30px;
    margin-right: 10px;

}
.shortcut div.w ul.left li>a{
    color: #666666;
    line-height: 30px;
    text-decoration: none;
}
.shortcut div.w ul.left li:nth-child(2)>a:hover{
    color: #c81623;
}
.shortcut div.w ul.left li:last-child>a{
    color: #c81623;
}

.shortcut div.w ul.right{
    float: right;
}

.shortcut div.w ul.right li{
    float: right;
    font-size: 12px ;

}

.shortcut div.w ul.right li>a{
    text-decoration: none;
    color: #666666;
    padding: 0 15px;
    line-height: 36px;
}
.shortcut div.w ul.right li:hover{
    color: #c81623;
}

.unfold::after{
    content: '\e91e';
    font-family: 'icomoon';
}



/*header部分*/
.header{
    /*border: 1px solid red;*/
    height: 80px;

}
.header div.w{
    /*border: 1px solid red;*/
    height: 80px;
    position: relative;
}
.header div.w div.logo h1 a{
    position: absolute;
    bottom: 0;
    width: 171px;
    height: 61px;
    font-size: 0;
    background: url("../images/logo.png") no-repeat center center;
}

/*搜索部分*/

.header div.w div.search{
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    width: 537px;
    height: 35px;
    border: 1px solid #b1191a;
}

.header div.w div.search input{
    box-sizing: border-box;
    border: none;
    outline: none;
    height: 33px;
    width: 454px;
    padding-left: 10px;
    font-size: 16px;
}
.header div.w div.search button{
    position: absolute;
    right: 0;
    background-color: #b1191a;
    border: none;
    width: 76px;
    height: 33px;
    color: white;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
}

/*热词样式*/

.header div.w ul.hot-words{
    position: absolute;
    bottom: 0;
    left: 330px;
}
.header div.w ul.hot-words li{
    float: left;
}
.header div.w ul.hot-words li a{
    padding: 0 10px;
    color: #666666;
    font-size: 12px;
    text-decoration: none;
}
.header div.w ul.hot-words li a:hover{
    color: #b1191a;
}
.header div.w ul.hot-words li:first-child a{
    color: #b1191a;
}

/*购物车模块*/
.header div.w div.shop-car{
    position: absolute;
    right: 64px;
    top: 24px;
    box-sizing: border-box;
    width: 135px;
    height: 35px;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
    text-align: center;
    line-height: 35px;
    font-size: 12px;
    color: #666666;
    font-family: 'icomoon';
}
.header div.w div.shop-car::before{
    content: '\e93a';
    color: #b1191a;
}
.header div.w div.shop-car::after{
    content: '\e920';
    color: #b1191a;
}
.header div.w div.shop-car span.count{
    position: absolute;
    top: -8px;
    left: 102px;
    background-color: #c81623;
    color: white;
    width: 19px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    border-radius: 50% 50% 50% 0%;
}


/*nav部分*/
.nav{
    margin-top: 24px;
    box-sizing: border-box;
    height: 48px;
    border-bottom: 2px solid #b1191a;
    font-size: 16px;
}
.nav div.w div.dropdown{
    float: left;

}
.nav div.w div.dropdown dt{
    color: white;
    background-color: #b1191a;
    line-height: 48px;
    text-align: center;
}
.nav div.w div.dropdown dd {
    padding-left: 2px;
    width: 192px;
    border-left: 2px solid #b1191a;
    background-color: #b1191a;
}
.nav div.w div.dropdown dd:hover::after{
    background-color: white;
    color: #b1191a;
}
.nav div.w div.dropdown dd:hover a{
    background-color: white;
    color: #b1191a;
}
.nav div.w div.dropdown dd a{
    display: inline-block;
    width: 90%;
    height: 31px;
    background-color: #b1191a;
    text-decoration: none;
    color: white;
    font-size: 14px;
    line-height: 31px;
}
.nav div.w div.dropdown dd::after{
    font-family: 'icomoon';
    content: '\e920';
    color: white;
    height: 31px;
    line-height: 31px;
}

/*导航物品*/
.nav div.w ul.navitems{
    float: left;
}
.nav div.w ul.navitems li{

    display: inline-block;
}
.nav div.w ul.navitems li a{
    text-decoration: none;
    color: #333;
    line-height: 48px;
    text-align: center;
    padding: 0 25px;
}
.nav div.w ul.navitems li a:hover{
    color: #c81623;
}

/*脚部*/
.footer{
    height: 400px;
    margin-top: 600px;
    background-color: #dfdfdf;
}

.footer ul.mod-service a{
    text-decoration: none;
    color: #666666;

}

.footer ul.mod-service li{
    width: 240px;
    float: left;
}
.footer ul.mod-service a i{
    float: left;
    width: 49px;
    height: 49px;
    background: url("../images/icons.png") no-repeat -253px -3px;
}











