/*版心*/
.w{
    box-sizing: border-box;
    width: 1200px;
    margin: auto;
    background-color: white;
}
.shortcut{

    background-color: #f1f1f1;
    height: 30px;

}
.shortcut .w {
    height: 100%;
}
.shortcut div.w ul.left{
    float: left;
}
.shortcut div.w ul.left li{
    float: left;
    font-size: 12px;
    color: #666666;
    line-height: 30px;
    margin-right: 10px;

}
.shortcut div.w ul.left li>a{
    color: #666666;
    line-height: 30px;
    text-decoration: none;
}
.shortcut div.w ul.left li:nth-child(2)>a:hover{
    color: #c81623;
}
.shortcut div.w ul.left li:last-child>a{
    color: #c81623;
}

.shortcut div.w ul.right{
    float: right;
}

.shortcut div.w ul.right li{
    float: right;
    font-size: 12px ;

}

.shortcut div.w ul.right li>a{
    text-decoration: none;
    color: #666666;
    padding: 0 15px;
    line-height: 36px;
}
.shortcut div.w ul.right li:hover{
    color: #c81623;
}